*{
	font-family:Verdana;
	font-size: 11px;
	line-height: 11pt;
	
}

p{
	margin: 0 0 5px;
}

.txt-justificado{
	text-align: justify;
}

.logo-area{
	margin:5px 0px;
}

.container{
	padding-right:15px;
	padding-left:15px;
	margin-right:0;
	margin-left:45px;
    max-width: 4in;
}

/* Create two equal columns that floats next to each other */
.column {
	float: left;
	width: 50%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}